# Get your Steam Web API key from https://steamcommunity.com/dev/apikey
STEAM_KEY="paste-your-steam-web-api-key-here"
SCREEPS_PACKAGE_NW_PATH="$HOME/Library/Application Support/Steam/steamapps/common/Screeps/package.nw"
